/*购物车*/
.hd_shopping{width:150px;height:30px;border:1px solid #d2d2d2;border-radius:3px 3px 3px 0;line-height:30px;background:url(../images/address.gif) no-repeat right 8px;position:absolute;right:20px;top:35px;z-index:9999}
.hd_shopping_h{border-bottom:1px solid #fff}
.hd_shopping a{display:block;height:30px;line-height:30px}
.hd_shopping a img{margin-left:5px}
.hd_shopping b{width:21px;height:30px;line-height:2em;font-size:12px;position:absolute;left:25px;top:-15px;background:url(../images/shop_payNumber.png) no-repeat}
.hd_shopping span{font-size:12px;color:#333}

.clearfix:after{content:''; display:table; clear:both}    
.clearfix{*zoom:1;} 

/*导航*/
/*
.nav_list{width:1200px;height:40px}
.nav_list .a_hover:hover{color:#fff}
.nav_list li{float:left;width:150px;height:100%;line-height:40px;background:#cc0000;}
.nav_list li.all_shop{width:150px}
.nav_list li.all_shop a{background:#a30000}
.nav_list li a.hover,.nav_list li a:hover{background:#a30000}
.nav_list li a{color:#fff}
*/

/*首页幻灯片*/
#JS_slide_cont{width:790px;height:460px;margin-bottom:20px;position:relative}
.num {overflow:hidden;height:20px;position:absolute;bottom:15px;right:15px;zoom:1;z-index:999}
.num li {width:20px;height:20px;border-radius:50%;line-height:20px;text-align:center; font-family:"微软雅黑", Arial; color:#FFFFFF; background:#383838; margin-right:10px;cursor:pointer; float:left; font-size:12px}
.num li.on{background:#aeaeae}

/*首页幻灯片右边广告*/
.top_right{width:248px;height:458px;border:1px solid #ffc8c8;border-top:none;}
.top_right_er{width:238px;height:108px;padding-left:10px; border-top:1px solid #ffc8c8;verflow:hidden;white-space:nowrap}
.right_er_top{height:30px;line-height:2em}
.right_er_main{height:75px}
.er_txt{width:152px;padding-left:8px;overflow:hidden}
.er_txt span{line-height:1.5em}

/*特卖*/
.moudle_01{width: 100%;height: 290px;overflow:hidden;margin:20px 0px;*position: relative;}
.moudle_01 a{ width:25%; height:290px; display:block; float:left; overflow: hidden; *display:inline; *zoom:1; *position:relative;}
.moudle_01 .ui-accordion-item {float: left;width: 25%;overflow: hidden;}
.moudle_01 img {width:100%; height:290px;vertical-align: top;}
/*.item_mar{margin-left:10px}
.item_main{ width:292px;position:relative;height:210px; float:left;overflow:hidden}
.item_main .aside{ background:#FFF; opacity:0.75;filter:alpha(opacity=75);position:absolute;z-index:1;left:0px;top:0px;width:100px;height:180px;padding:30px 0px 0px 20px}
.item_main .aside .s-link{ position:absolute; width:100%; height:100%; left:0; top:0; z-index:2}
.item_main .aside h3{font-size:18px;font-family:"microsoft yahei";line-height:20px;height:20px;overflow:hidden;margin-bottom:5px}
.item_main .aside .s-name {width:94px;overflow:hidden;color:#333;font-size:13px;font-family:"microsoft yahei";line-height:20px; margin-top:25px}
.item_main .aside_r{background:#FFF; opacity:0.75;filter:alpha(opacity=75);position:absolute;z-index:1;right:0px;top:0px;width:100px;height:180px;padding:30px 0px 0px 20px}
.item_main .aside_r .s-link{ position:absolute; width:100%; height:100%; left:0; top:0; z-index:2}
.item_main .aside_r h3{font-size:18px;font-family:"microsoft yahei";line-height:20px;height:20px;overflow:hidden;margin-bottom:5px}
.item_main .aside_r .s-btn{ width:90px; height:30px; line-height:30px; background:#cc0000; color:#fff; text-align:center; margin-top:55px}
.img_hover{position:absolute;left:0px;top:0px}*/


/*center左边*/
.center_left{width:940px}
.center_ul{overflow:hidden;width:940px}
.left_titer{padding-bottom:10px; height:32px; line-height:32px;}
.left_titer b{height:30px;line-height:35px;border-bottom:2px solid #cd0203;font-size:14px}
.left_titer span{height:31px;line-height:42px;border-bottom:1px solid #8a8a8a;color:#8a8a8a;font-size:13px}
/*center右边*/
.center_right{width:250px;height:330px; position:relative}
.center_right p{}

.center2,.center3,.center4{overflow:hidden;margin-top:20px}
/*主体center1--限时秒杀*/
.cenrer1{margin-top:20px}
.center1_left_ul {940px; height:288px}
.center1_left_ul li{display:inline;float:left;width:160px; height:262px; padding:12px 8px;border:1px solid #fff}
.center1_left_ul li a{color:#333}
.center1_left_ul li img{margin-bottom:10px}
.center1_left_ul li.mrl{margin-left:10px}
.center1_left_ul li.hover{border:1px solid #ffc8c8;box-shadow:inset 3px 3px 5px #ffebeb,inset -3px -3px 5px #ffebeb}
.price_p{border-bottom:1px solid #ccc;padding:15px 0 10px}
.center1_left_ul .time{width:140px;height:30px;line-height:30px;padding-left:20px;background:url(../images/time.png) no-repeat left 8px; overflow:hidden;}
.center_left .red{#cc0000}

.pin_box{width:250px;position:relative; }
#pin_ul{overflow:hidden;height:264px; padding:11px 0px; width:248px; }
#pin_ul li{width:100px;height:50px; background:#f6f6f6; float:left; padding:8px 12px;cursor:pointer}
#pin_ul li.hover{background:#f6f6f6 url(../images/ju_bg2.png) no-repeat center center;}
#pin_msg{overflow:hidden;position:absolute;width:310px;height:220px;box-shadow:2px 2px 5px #e3e3e3,-2px -2px 5px #e3e3e3;padding:9px;background:#fff;z-index:999; display:none}
#pin_msg p{height:40px;line-height:40px}
#pin_msg div{padding:15px 10px 5px 20px}
#pin_msg .input_phone{height:26px;border:1px solid #999;border-radius:3px; line-height:26px; padding-left:5px}
#pin_msg .open_tuan{border:none;width:100px;height:30px;border-radius:3px;background:#DC2B82}
.time_display{color:red}
.go_look_btn{position: absolute;left: 50%;top: 50%;width:102px;height:38px;font: 14px/38px "宋体";color: #FFF;border-radius: 5px;background-color: rgba(0,0,0,.5);
margin: -19px 0 0 -51px;filter: alpha(opacity=50);*background:#000;}
.go_look_btn:hover{background-color:#e8467b;background-color: rgba(233,70,123,.5);color:#FFF}
#pin_msg a:hover{background-color:#e8467b;color:#FFF}
/*主体center2--蓝海爆款*/
.center2_left_ul{height:455px;background:#f6f6f6}
.center2_left_ul li{float:left;width:310px;height:200px;margin-top:10px;padding:10px 0 10px}
.center2_left_ul li.boder{border-bottom:1px solid #ccc}
.center2_left_ul li img{margin-left:5px}
.center2_right{margin-top:40px;border:1px solid #CD0203}
.shop_msg{width:140px;padding-left:10px; height:180px; position:relative;line-height:2em;color:#383838;overflow:hidden}
.shop_msg .top{height:40px; color:#474747;}
.shop_msg .top span{ display:block; height:20px; line-height:20px; font-weight:bold; font-size:13px; padding-top:20px;}
.shop_msg .title{ font-size:13px; color:#272727; }
.shop_msg .desc{ font-size:12px; color:#A6A6A6; line-height:20px; height:80px;}
.shop_msg .huangguan_0{ background:url(../images/jin.png) no-repeat left center; padding-left:56px;}
.shop_msg .huangguan_1{ background:url(../images/yin.png) no-repeat left center; padding-left:56px;}
.shop_msg .huangguan_2{ background:url(../images/tong.png) no-repeat left center; padding-left:56px;}
.shop_msg .red{color:#F02B6B}
/*主体center3--新品首秀*/
.center3_left_ul li{display:inline;float:left;width:260px;height:400px;margin:10px 25px 0 25px;position:relative} 
.center3_left_ul li a{display:block}
.center3_left_ul  i{width:48px;height:43px;background:url(../images/day_new.png) no-repeat left top;position:absolute;left:0px;top:0}
.shop_name{width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.center3_left_ul .price{padding:10px 0px;height:36px;line-height:36px; width:260px}
.center3_left_ul .add_pay{border:none;width:100px;height:36px;line-height:36px;background:#cc0000;cursor:pointer}
.center3_right1{overflow:hidden;height:380px;margin-top:10px;background:#F6F6F6;border:1px solid #CD0203}
.center3_right1 .say_list{padding:10px 0 10px;border-bottom:1px solid #ccc}
.asy_msg{height:30px;line-height:30px}
.center3_right2{background:#F6F6F6;border:1px solid #CD0203}
/*主体center4--为您推荐*/
.center4_left_ul{background:#f6f6f6}
.center4_left_ul li{float:left;width:450px;height:180px; padding:5px 20px 5px 0;}
.center4_left_ul li .tui_list p{line-height:1.5em}
.center4_left_ul li .center4_shop_name{width:240px; height:20px; margin-bottom:12px; overflow:hidden;}
.center4_left_ul li .center4_shop_name a{width:240px; height:20px; line-height:20px; overflow:hidden;}
.center4_left_ul li .shopMsg{overflow:hidden;text-overflow:ellipsis;height:54px; line-height:18px;}
.center4_left_ul li .tbl_type{ width:100%; height:48px;}
.center4_left_ul li .tbl_cell{}
.center4_left_ul li .tui_list{width:240px; height:180px; overflow:hidden; padding-left:10px}
.center4_left_ul li .quick_pay{border:none; width:100px; height:36px;margin-top:10px; line-height:36px; background:#cc0000; cursor:pointer}


/*无缝滚动*/
.picMarquee-top .hd,.txtScroll-top .hd {overflow:hidden;height:30px;background:#f4f4f4;padding:0 10px}
.picMarquee-top .hd .next,.txtScroll-top .hd .next,.picMarquee-top .hd .prev,.txtScroll-top .hd .prev{display:block;width:9px;height:5px;float:right;margin-right:5px;margin-top:10px;overflow:hidden;cursor:pointer;background:url(../images/arrow.png) 0 -100px no-repeat}
.picMarquee-top .hd .prev,.txtScroll-top .hd .prev{background:url(../images/arrow.png) 0 -140px no-repeat}
.picList li{padding-left:10px}
.picMarquee-top .tempWrap{background:#fff;height:350px!important}
.txtScroll-top .infoList a{text-decoration:none}
.txtScroll-top .hd ul {float:right;overflow:hidden;zoom:1;margin-top:10px}
.txtScroll-top .hd ul li {float:left;width:9px;height:9px;overflow:hidden;margin-right:5px;text-indent:-999px;cursor:pointer;background:url("../images/icoCircle.gif") 0 -9px no-repeat}
.txtScroll-top .hd ul li.on {background-position:0 0}
.txtScroll-top .tempWrap{background:#fff}
.txtScroll-top .infoList li{line-height:1.2em}

/*右侧栏*/
#right_sidebar{width:40px;height:100%;background:#000;position:fixed;right:0;top:0;_position:absolute;_right:0;_top:expression(documentElement.scrollTop+'px');z-index:9999}

/*快捷按钮*/
.sidebar_top,.sidebar_car,.sidebar_center,.sidebar_bottom{display:inline-block;width:40px}
.sidebar_top{height:235px}
.right_top_ul{height:190px;padding-top:45px;position:absolute;top:0;right:0}
.right_top_ul li{display:inline-block;margin-top:8px;_margin-top:8px;position:relative}
.right_top_ul li a{display:block;width:60px;position:relative;z-index:9999}
.right_top_ul li img{margin-right:20px;z-index: 9999}
.right_top_ul li span{display:inline-block;width:40px;height:35px;background:#000;position:absolute;right:0;top:0;z-index:2}
.right_top_ul li div{display:none;width:100px;height:35px;line-height:35px;border-radius:17.5px 0 0 17.5px;background:#898989;position: absolute;left:15px;top:0;z-index:1}

/*购物车*/
.sidebar_car{overflow:hidden;width:40px;height:140px;border: 1px solid #545454;border-width:1px 0;background:url(../images/right_sidebar_car2.png) no-repeat -7px 13px;position: relative;cursor:pointer}
.shop_number{width:20px;height:20px;line-height:20px;border-radius:10px;background:#cc0100;position:absolute;left:9px;bottom:12px}
.open_box{display:none;width:260px;height:100%;background:#404040;box-shadow:-2px -2px 2px #ccc;position:absolute;left:40px;top:0;z-index:10000}
.car_msg_titer{height:30px;line-height:30px}
.close_box{display:inline-block;width:30px;height:30px;margin-left:10px;background:url(../images/car_close.png) no-repeat 6px 6px}
.shop_sum{display:inline;height:20px;line-height:20px;margin:5px 0 0 50px;padding:0 15px;border-radius:10px;background:#545454}
.shop_null{display:block;margin-right:10px}
.car_shop_list{overflow:hidden;width:260px;margin-top:10px}
.car_shop_list li{float:left;display:inline;width:110px;height:140px;margin:10px;position:relative;}
.car_shop_list li .shop_img{display:block;overflow:hidden;width:110px;height:110px;position:relative}
.shop_img img{width:100%;height:100%}
.car_shop_list li b{display:block;width:100%;height:30px;line-height:30px;background:#404040}
.function_box{display:block;width:100%;height:30px;background:#333333;opacity:0.6;position:absolute;left:0;bottom:30px}
.shop_del,.shop_addcar,.shop_see{border:none;width:18px;height: 18px;margin:6px 10px;background: url(../images/car_del.png) no-repeat left top}
.shop_addcar{background: url(../images/add_car.png) no-repeat left top}
.shop_see{background: url(../images/shop_xing.png) no-repeat left top}
.go_pay{width:100%;height:80px;background:#fff;position:absolute;left:0;bottom:0}
.go_pay p{line-height:1.5em}
.go_pay p span{padding:5px 10px}
.go_pay .pay_btn,.login_btn{border:none;width:240px;height:35px;border-radius:3px;margin:10px;background:#c10100}
.san_ling,.san_ling1,.san_ling2,.san_ling3,.san_ling4{color:#404040;font-size:30px;position:absolute;right:-8px;_right:-8px;top:300px}
.san_ling{top:125px;color:#fff}
.san_ling2{top:480px}
.san_ling3{top:535px}
.san_ling4{right:-9px;top:135px;font-size:30px;color:#fff;}
/*用户*/
.sidebar_center{height:210px}
.right_center_ul{height:210px;width:40px;position:relative;}
.right_center_ul li{height:70px;background: url(../images/right_sidebar2.png) no-repeat -9px -105px;cursor:pointer;position: relative}
.right_center_ul li.right_center2{background-position:-9px -160px}
.right_center_ul li.right_center3{background-position:-9px -210px}
.right_center_ul li:hover{background-color:#cc0100}
.shou_more{width:200px;height:25px;line-height:25px;margin:15px auto;background:#535353}
.user_msg{width:300px;height:175px;padding-top:30px;border-radius:3px;box-shadow:2px 2px 1px #ccc,-2px -2px 1px #ccc;background:#fff;position:absolute;left:-320px;top:270px;opacity:0;z-index:99999;}
/*.login_txt,.password{width:215px;height:33px;line-height:33px;margin:0 25px 10px;padding-left:33px;border:1px solid #C9C9C9;color:#8D8D8D;background:#fff url(../images/input_left2.png) no-repeat 8px top}
.password{background-position:8px -35px}
.login_btn{width:250px;margin:10px 25px}*/
.user_msg .user_img{width:62px;height: 62px;margin:0 auto;border-radius:50%;}
.user_msg p{height:50px;line-height:50px;border-bottom:1px dotted #d5d5d5;}
.my_order,.my_shou{margin:10px auto;margin-left:15px;padding:8px 15px;border:1px solid #E9E9E9;background:#f3f3f3}
.my_order:hover,.my_shou:hover{background:#FCF1F6;border:1px solid #FCCADB;}  
/*用户已经登录*/
.user_logo {margin:0px 30px;}
.user_logo img{width:62px;height: 62px;margin:0 auto;border-radius:50%;float:left}
.user_logo .user_info{width:150px;float:left;height:62px;text-align: left;margin:10px 0px 30px 10px;}
.user_logo .user_info span{display: block;line-height: 25px;}
/*二维码*/
.sidebar_bottom{width:39px;height:160px;border-top:1px solid #545454}
.sidebar_er{display:inline-block;width:40px;height:40px;margin-top:20px;background:#000 url(../images/code_img.png) no-repeat 7px 10px ;cursor:pointer}
.sidebar_gun{display:inline-block;width:40px;height:45px;margin-top:20px;background:url(../images/right_sidebar_er.png) 0 -35px;cursor:pointer}
.open_code{width:200px;height:200px;box-shadow:2px 2px 1px #ccc,-2px -2px 1px #ccc;background:#fff;position:absolute;left:-220px;top:485px;opacity:0;z-index:99999}
.code_img{width:120px;height:120px;margin:15px 40px;}

